.categoryCardContainer {
  margin: 20px 0px 20px 0px;

  .categoryCardStyle {
    height: 80px;
    width: 110px;
    margin-left: 10px;
    border-radius: 6px;
  }

  .cardTaskTitleContainer {
    display: flex;
  }

  .pointerTaskTitleStyle {
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background-color: #041f41;
    margin-top: 4px;
    margin-left: 15px;
  }

  .outlookIconStyle {
    height: 32px;
    width: 32px;
    position: relative;
    top: 5px;
    right: 24px;
  }

  .calendarIconStyle {
    height: 28px;
    width: 28px;
    position: relative;
    top: 5px;
    right: 24px;
    margin-bottom: 4px;
  }

  .serviceNowIconStyle {
    height: 22px;
    width: 22px;
    position: relative;
    top: 8px;
    right: 24px;
    margin-bottom: 10px;
  }
}
