.itemsCardContainerStyle {
  display: flex;
  position: relative;
  .cardIconContainerStyle {
    min-height: 55px;
    min-width: 55px;
    border-radius: 12px;
    margin-bottom: 20px;
    margin-left: 5px;
  }
  .cardTitleDivStyle {
    display: flex;
    justify-content: left;
    min-width: 244px;
  }
  .outlookIconStyle {
    height: 38px;
    width: 38px;
    position: relative;
    top: 9px;
  }
  .meetingIconStyle {
    height: 34px;
    width: 34px;
    position: relative;
    top: 11px;
  }
  .meetingIconStyle {
    height: 34px;
    width: 34px;
    position: relative;
    top: 11px;
  }
}
